################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Algorithms/obj
/.vs
/Algorithms/bin/Debug/net8.0
